@{
    Layout = null;

}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Epam.Task7.Awards.BLL.Interface;
@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.Users.BLL;
@using Epam.Task7.Users.BLL.Interface;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adding user</title>
</head>
<body>


    <form action="~/pages/AddUserPage" method="post">

        <label>User's name</label>
        <input type="text" name="userInp" />
        <label> BirthDay</label>
        <input type="date" name="bdate"><br />

        <button type="submit">Submit</button>
    </form>



    @{ if (IsPost)
        {
            string name = Request.Params["userInp"];
            DateTime bdate = DateTime.Parse(Request.Params["bdate"]);
            <div> @name @bdate </div>
            var userLogic = DependencyResolver.UserLogic;
            var awardLogic = DependencyResolver.AwardLogic;

            var user = new User();

            user.Name = name;

            user.DateOfBirth = bdate;
            userLogic.Add(user);

        }
    }


</body>
</html>
