@{
    Layout = null;
}
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Epam.Task7.Awards.BLL.Interface;
@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.Users.BLL;
@using Epam.Task7.Users.BLL.Interface;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <form action="~/pages/AwardPicChange" method="post">

        <label>Award's id</label>
        <input type="number" name="aID" />
        <label> New image url</label>
        <input type="text" name="imgurl"><br />

        <button type="submit">Submit</button>
    </form>
    @{ if (IsPost)
        {
            int aID = int.Parse(Request.Params["aID"]);
            string url = Request.Params["imgurl"];


            using (var sqlConnection = new SqlConnection(ConfigurationManager.ConnectionStrings["Default"].ConnectionString))
            {
                var command = sqlConnection.CreateCommand();
                command.CommandText = "AwardPicChange";
                command.CommandType = CommandType.StoredProcedure;

                var awrad = new Award();
                awrad.Id = aID;
                awrad.url = url;

                SqlParameter parameterID = new SqlParameter("@Id", awrad.Id);
                command.Parameters.Add(parameterID);

                SqlParameter parameterurl = new SqlParameter("@url", awrad.url);
                command.Parameters.Add(parameterurl);


                sqlConnection.Open();
                var reader = command.ExecuteNonQuery();
            }

        }
    }

</body>
</html>
