@{
    Layout = null;
}
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Epam.Task7.Awards.BLL.Interface;
@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.Users.BLL;
@using Epam.Task7.Users.BLL.Interface;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get User By Id</title>
</head>
<body>
    <form action="~/pages/GetUserById" method="post">

        <label>User's id</label>
        <input type="number" name="uID" />

        <button type="submit">Submit</button>
    </form>

    @{ if (IsPost)
        {
            int uID = int.Parse(Request.Params["uID"]);

            var userLogic = DependencyResolver.UserLogic;
            var awardLogic = DependencyResolver.AwardLogic;
            
            <div><img src=@userLogic.GetById(uID).url height="25" width="25" /> @userLogic.GetById(uID)</div>

        }
    }
</body>
</html>
