@{
    Layout = null;
}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using Epam.Task7.Awards.BLL.Interface;
@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.Users.BLL;
@using Epam.Task7.Users.BLL.Interface;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="~/pages/UserPicChange" method="post">

        <label>User's id</label>
        <input type="number" name="uID" />
        <label> New image url</label>
        <input type="text" name="imgurl"><br />

        <button type="submit">Submit</button>
    </form>
    @{ if (IsPost)
        {
            int uID = int.Parse(Request.Params["uID"]);
            string url = Request.Params["imgurl"];


            using (var sqlConnection = new SqlConnection(ConfigurationManager.ConnectionStrings["Default"].ConnectionString))
            {
                var command = sqlConnection.CreateCommand();
                command.CommandText = "UserPicChange";
                command.CommandType = CommandType.StoredProcedure;

                var user = new User();
                user.Id = uID;
                user.url = url;

                SqlParameter parameterID = new SqlParameter("@Id", user.Id);
                command.Parameters.Add(parameterID);

                SqlParameter parameterurl = new SqlParameter("@url", user.url);
                command.Parameters.Add(parameterurl);


                sqlConnection.Open();
                var reader = command.ExecuteNonQuery();
            }

        }
    }
</body>
</html>
