@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Users and Awards</title>
    <link href="Styles.css" rel="stylesheet">
</head>
<body>
    <section class="wrapper">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/pages/Logout">Logout</a>
        }
        else
        {
            <a href="~/pages/Login">Login</a>
        }


        Users Control buttons
        <div class="userbuttons">
            <button class="button" id="addUser">Add user</button><br>
            <button class="button" id="delUser">Delete user</button><br>
            <button class="button" id="showUsers">Show all users</button><br>
            <button class="button" id="getUserById">Get user by ID</button><br>
        </div>
        <br>
        Awards Control buttons
        <div class="userbuttons">
            <button class="button" id="addAward">Add award</button><br>
            <button class="button" id="delAward">Delete award</button><br>
            <button class="button" id="showAwards">Show all awards</button><br>
            <button class="button" id="getAwardById">Get award by ID</button><br>
            <button class="button" id="addAwardToUser">Add award to user</button><br>
        </div>
        Other Functions
        <div class="otherbuttons">
            <button class="button" id="changeUserPic">Change User Picture</button>
            <button class="button" id="changeAwardPic">Change Award Picture</button>
        </div>
    </section>

    <script src="~/js/Scripts.js"></script>
</body>
</html>
