USE [master]
GO
/****** Object:  Database [Epam.Task12.DB]    Script Date: 12.02.2019 12:57:32 ******/
CREATE DATABASE [Epam.Task12.DB] ON  PRIMARY 
( NAME = N'Epam.Task12.DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Epam.Task12.DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Epam.Task12.DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Epam.Task12.DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Epam.Task12.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Epam.Task12.DB]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[url] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[url] [nvarchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
@Title NVARCHAR(50),
@url NVARCHAR(200)
AS
BEGIN
	INSERT INTO Award(Title, url)
	VALUES (@Title, @url)
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
@Name NVARCHAR(50),
@url NVARCHAR(200),
@DateOfBirth date
AS
BEGIN
	INSERT INTO [User](Name,url,DateOfBirth)
	VALUES(@Name, @url, @DateOfBirth)
END
GO
/****** Object:  StoredProcedure [dbo].[AwardPicChange]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AwardPicChange]
@Id int,
@url NVARCHAR(200)
AS
BEGIN
	UPDATE [Award] SET url=@url WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAward]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAward]
@Id int
AS
BEGIN
	DELETE FROM [Award] WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUser]
@Id int
AS
BEGIN
	DELETE FROM [User] WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardById]
@Id int
AS
BEGIN
	SELECT * FROM [Award] WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
@Id int
AS
BEGIN
	SELECT * FROM [User] WHERE Id=@Id
	
END
GO
/****** Object:  StoredProcedure [dbo].[UserPicChange]    Script Date: 12.02.2019 12:57:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserPicChange]
@Id int,
@url NVARCHAR(200)
AS
BEGIN
	UPDATE [User] SET url=@url WHERE Id=@Id
END
GO
USE [master]
GO
