body {
    background-color: #000;
}
.wrapper {
    width: 400px;
    position: relative;
    padding: 50px 20px 10px 10px;
    margin: 0 auto;
    background: linear-gradient(#fff, #DDD);
    background: 10px solid #fff;
    border-radius: 0 0 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    border: 2px solid #fff;
}
.wrapper:before {
    position: absolute;
    content: "";
    border-top: 60px solid #000;
    border-right: 30px solid transparent;
    height: 0;
    width: 120px;
    top: calc(0% - 2px);
    left: calc(0% - 2px);
}
.wrapper:after {
    position: absolute;
    content: "ЭКГ-5";
    text-transform: uppercase;
    color: #FFB163;
    font-size: 24pt;
    top: 20px;
    left: 15px;
}